.MyNavbar{
    padding-bottom: 2vh;
    margin-bottom: 10vh;
}
.container{
    margin-top: 5rem;
}

.waringnsForErrosOnSubmit{
    margin: 1vw;
    color: red;
}
.headerOfProdocutsListsAdmin{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}
.btn{
    align-items: center;
    align-content: center;

}
.CardList{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    width: 10rem;
    height: 20rem;
}
.card-img-top{
    width: 10rem;
    max-height: 100%;
}